{% extends 'courses/layout.html' %}

{% block loginmenu %}
{% endblock %}

{% block body %}
<div id="login"><br><br><br>
    <div class="row">
        <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4">&nbsp;</div>
        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6">
            <h2>Sign in</h2>
			<form action="{% url 'login' %}" method="post">
			    {% csrf_token %}

			    <div class="form-group">
				    <input autofocus name="username" type="text"/>
				</div>

				<div class="form-group">
			    	<input name="password" type="password"/>
			    </div>

			    <div class="form-group">
			    	<button class="btn btn-primary" style="float:left; margin-right: 1em">Sign in</button>
			    </div>
			</form>
 	    	<h5>If you do not have an account, please register <a href="{% url 'register' %}#inicio"><strong>here</strong></a></h5>

			{% if message %}
				<div id="message_zone">
				    <div class="alert {{ msgType }}" role="alert">{{ message }}</div>
				</div>
			{% endif %}
        </div>
        <div class="col-xs-1 col-sm-2 col-md-3">&nbsp;</div>
    </div>
</div>
{% endblock %}
